.DetailWrapper {
  padding-top: 50px;
}

.HeadingProduct {
  text-align: center;
}

.MainProductImage {
  text-align: center;
  @media screen and (max-width: 960px) {
    border-bottom: 1px solid #ccc;
  }
  img {
    margin: 0 0 20px 0;
    max-width: 100% ;
  }
}

.MainInfo {
  @media screen and (min-width: 960px) {
    border-left: 1px solid #ccc;
  }
}

.ProductDescription span, .ProductDetails span{
  font-weight: bold;
  margin: 10px 0;
}

.ProductInfo,
.Price,
.ProductAvailable,
.Binds,
.ProductCategory,
.Owner,
.PhoneNumber {
  font-weight: 600;
  margin-bottom: 10px;
  span {
    font-weight: normal;
  }
}

.Price {
  font-size: 18px;
  span {
    font-weight: 600;
  }
}


.Gallery {
  margin-top: 30px;
  p {
    font-weight: 600;
    margin-bottom: 20px;
  }
  img {
    display: inline-block;
    margin: 0 10px 10px 0;
    max-width: 300px;
  }
}
