@import url('https://fonts.googleapis.com/css?family=Raleway');

#loginForm {
    font-family: 'Raleway', sans-serif;
    background-color: #3f51b5;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm .card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}

#loginForm .card > form{
    display: flex;
    flex-direction: column;
}

#loginForm .card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

#loginForm .form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}

#loginForm .form-submit, #loginForm button{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #3f51b5;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}

#loginForm button {
  margin-top: 10px;
}

#loginForm .form-submit:hover, #loginForm button:hover{
   opacity: 0.6;
}