.ProductItem {
  display: block;
  border: none;
  height: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }


  span {
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(#000, 0.7);
    padding: 5px 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
  }

  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform-origin: center;
  }



  h4 {
    position: absolute;
    width: auto;
    display: inline-block;
    padding: 10px 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    transition: all 0.5s;
    font-size: 24px;
  }

  p {
    transition: all 0.5s;
    position: absolute;
    bottom: 10%;
    opacity: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block;
  }


  &:hover {
    p {
      opacity: 1;
      bottom: 0;
    }
    img {
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  .Category {
    position: absolute;
    top: 0;
    right: 0;
    color: orange;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
  }




}

